{{extend 'layout.html'}}
 
{{=A(SPAN('Show all operators', _class='buttontext button', _tytle='Show all operators'), _class='button btn', _href=URL('index'))}}
{{=A(SPAN('View this operator', _class='buttontext button', _tytle='View this operator'), _class='button btn', _href=URL('show_operator', args=service.operator_id))}}
 
<h1>{{=service.name}}</h1>
{{for photo in photos:}}
	<img width="100px" height="200px" src="{{=URL('download_photo', args=photo.file)}}" />
{{pass}}<br />

{{=A(SPAN('Upload photo', _class='buttontext button', _tytle='Upload photo'), _class='button btn', _href=URL('upload_photo', args=service.id))}}

<br />
<table>
<tr><td><b>Service code :      </b></td><td>{{=service.code}}</td></tr>
<tr><td><b>Selling price :     </b></td><td>{{=service.selling_price}}</td></tr>
<tr><td><b>Operator price :    </b></td><td>{{=service.operator_price}}</td></tr>
<tr><td><b>Commission :        </b></td><td>{{=service.comission}}</td></tr>

<tr><td><b>Mean rating :       </b></td><td>{{=service.mean_rating}}</td></tr>
<tr><td><b>GPS coordinates :   </b></td><td>{{=service.gpscoord}}</td></tr>

<tr><td><b>Segments :          </b></td>
{{i=0}}
{{for segment in service.tourism_segments:}}
	{{if i!=0:}}
		<tr><td></td>
	{{pass}}
	<td>{{=segment}}</td></tr>
{{pass}}
<tr><td><b>Region : 		   </b></td><td>{{=service.region}}</td></tr>
</table>

<table>
<tr><td><b>Opening time :      </b></td><td>{{=service.opening_time}}</td></tr>
<tr><td><b>Closing time :      </b></td><td>{{=service.closing_time}}</td></tr>
<tr><td><b>Service duration :  </b></td><td>{{=service.duration}}</td></tr>
</table><br />

{{=A(SPAN('Create service extension', _class='buttontext button', _tytle='Create service extension'), _class='button btn', _href=URL('create_service_extension', args=service.id))}}

{{if extensions:}}
	{{for extension in extensions:}}
		{{=H4(extension.name)}}
		<table>
		<tr><td><b>Selling price :   </b></td><td>{{=extension.selling_price}}</td></tr>
		<tr><td><b>Operator price :  </b></td><td>{{=extension.operator_price}}</td></tr>
		<tr><td><b>Commission :      </b></td><td>{{=extension.comission}}</td></tr>
		</table>
	{{pass}}
{{else:}}
	<h3>No extensions available</h3>
{{pass}}<br />

{{if comments:}}
	<h3>Comments for this service</h3>
	<table>
	<tr><td><h4>Comment   </h4></td><td><h4>Rating    </h4></td><td></td></tr>
	{{for comment in comments:}}
		<tr><td>{{=comment.comment}}</td>
		<td>{{=comment.rating}}</td>
		<td>
		{{=A(SPAN('Delete', _class='buttontext button', _tytle='Delete comment'), _class='button btn', _href=URL('delete_comment', args=comment.id))}}
		</td></tr>
	{{pass}}</table><br />
	<h4>Insert a comment</h4>
{{else:}}
	<h3>No comments for this service</h3>
	<b>Be the first to comment</b>
{{pass}}
{{=form}}
