{{extend 'layout.html'}}
 
{{=A(SPAN('Show all operators', _class='buttontext button', _tytle='Show all operators'), _class='button btn', _href=URL('index'))}}
{{=A(SPAN('Create new operator', _class='buttontext button', _tytle='Create new operator'), _class='button btn', _href=URL('create_operator'))}}
{{=A(SPAN('Update/delete operator', _class='buttontext button', _tytle='Update/delete operator'), _class='button btn', _href=URL('modify_operator', args=operator.id))}}
 
<h1>{{=operator.name}}</h1>
<table>
	<tr><td><b>Address: </b></td><td>{{=operator.address}}</td></tr>
	<tr><td><b></b></td><td>{{=operator.postal_code}}</td></tr>
	<tr><td><b></b></td><td>{{=operator.town}}</td></tr>
	<tr><td><b></b></td><td>{{=operator.country}}</td></tr>

	<tr><td><b>E-mail: </b></td><td>{{=operator.email}}</td></tr>
	<tr><td><b>Website: </b></td><td>{{=operator.website}}</td></tr>
	<tr><td><b>Operator code: </b></td><td>{{=operator.code}}</td></tr>
	<tr><td><b>Operator NIF: </b></td><td>{{=operator.nif}}</td></tr>
	<tr><td><b>Operator NIB: </b></td><td>{{=operator.nib}}</td></tr>
	<tr><td><b>Segments: </b></td>
	{{i=0}}
	{{for segment in operator.tourism_segments:}}
		{{i=i+1}}
		{{if i == 1:}}
			<td>
		{{else:}}
			<tr><td><b></b></td><td>
		{{pass}}
		{{=segment}}</td></tr>
	{{pass}}
	<tr><td><b>Regions: </b></td>
	{{i=0}}
	{{for region in operator.regions:}}
		{{i=i+1}}
		{{if i == 1:}}
			<td>
		{{else:}}
			<tr><td><b></b></td><td>
		{{pass}}
		{{=region}}</td></tr> 
{{pass}}
</table>
<br />

{{=A(SPAN('Show all operator services', _class='buttontext button', _tytle='Show all operator services'), _class='button btn', _href=URL('show_services', args=operator.id))}}
{{=A(SPAN('Create new operator service', _class='buttontext button', _tytle='Create new operator service'), _class='button btn', _href=URL('create_service', args=operator.id))}}

{{if contacts:}}
	{{=H2('Contacts for this Operator')}}
	
	{{=A(SPAN('Create new contact', _class='buttontext button', _tytle='Create new contact'), _class='button btn', _href=URL('create_contact', args=operator.id))}}
	
	<table>
	{{for contact in contacts:}}
		<tr><td>{{=B(contact.name + ' ' + contact.surname, _href=URL('show_contact', args=contact.id))}}</td>
		<td>{{=contact.professional_position}}</td>
		<td>
		{{=A(SPAN('View details', _class='buttontext button', _tytle='View details'), _class='button btn', _href=URL('show_contact', args=contact.id))}}
		</td></tr>
	{{pass}}</table>
{{else:}}
	{{=H4('No contacts created for this Operator')}}
{{pass}}<br />

{{=A(SPAN('Create new contact', _class='buttontext button', _tytle='Create new contact'), _class='button btn', _href=URL('create_contact', args=operator.id))}}
