{{extend 'layout.html'}}
 
{{=A(SPAN('Show all operators', _class='buttontext button', _tytle='Show all operators'), _class='button btn', _href=URL('show_operators'))}}
{{=A(SPAN('Show this operator', _class='buttontext button', _tytle='Show this operator'), _class='button btn', _href=URL('show_operator', args=contact.operator_id))}}
 
<h1>{{=contact.name+' '+contact.surname}}</h1>
<table>
	{{if contact.professional_position:}}
		<tr><td><b>Position : </b></td><td>{{=contact.professional_position}}</td></tr>
	{{pass}}
	{{if contact.phone:}}
		<tr><td><b>Phone :    </b></td><td>{{=contact.phone}}</td></tr>
	{{pass}}
	{{if contact.mobile:}}
		<tr><td><b>Mobile :   </b></td><td>{{=contact.mobile}}</td></tr>
	{{pass}}
	{{if contact.fax:}}
		<tr><td><b>Fax :      </b></td><td>{{=contact.fax}}</td></tr>
	{{pass}}
	<tr><td><b>E-mail :   </b></td><td>{{=contact.email}}</td></tr>
	{{if contact.observations:}}
		<tr><td><b>Observations : </b></td><td>{{=contact.observations}}</td></tr>
	{{else:}}
		<tr><td><b>Observations : </b></td><td>No observations entered for this contact.</td></tr>
	{{pass}}
</table>
